@font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin/Cabin-Regular.ttf);
}

body{
    font-family: 'Cabin';
    text-align: justify;
}

ol, li{
    height: 100%;
    width: 100%;
}

div.header{
    text-align: center;
}

div.asTXT{
    font-size: 22px;
    font-weight: 600;
    margin-left: 15%;
    margin-right: 15%;
    border-bottom-style: dashed;
}
a.AasTXT{
    text-decoration:none;
    color: #4286f4;
    margin-left: 5%;
}

div.asCont1{
    margin-left: 20%;
    margin-top: 3%;
    margin-right: 20%
}

div.asCont2{
    margin-left: 20%;
    margin-top: 3%;
    margin-right: 20%;
    visibility: none;
    display: none;
}

div.assignment{
    border-bottom-style: solid;
    margin-bottom: 8%;
}

div.textFooter{
    text-align: right;
}