@font-face {
    font-family: Cabin;
    src: url(../fonts/Cabin/Cabin-Regular.ttf);
    }
    
body{
    font-family: 'Cabin';
}

/*--- HEADER ---*/
div.titleHead{
    position: absolute;
    top: 3%;
    width: 100%;
    height: 100%;
}

div.textHead{
    font-size: 18pt;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
}

/*--- BODY ---*/
div.form{
    position: absolute;
    width: 100%;
    height: 650px;
    top:20%;
}

input, textarea{
    border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    font-size: 16px;
    margin-top: 2%;
}

label{
    font-size: 16px;
    cursor: text;
}

input.button{
  background-color: #568CF1;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
.button:hover {opacity: 1}

#map {
    position:absolute;  width:50%; height: 50%; margin-top: 550px;
  }

/*--- Orientacion ---*/

@media (orientation: landscape) {
    body {
        background-color: #568CF1;
        font-family: 'Cabin';
        color: #FFFFFF;
    }
    input.button{
        background-color: #FFFFFF;
        color: black;
        padding: 16px 32px;
        text-align: center;
        font-size: 14px;
        margin: 4px 2px;
        opacity: 0.6;
        transition: 0.3s;
      }
      .button:hover {opacity: 1}
  }
  
  @media (orientation: portrait) {
    body {
        font-family: 'Cabin';
    }
  }