/*--- HEADER ---*/
div.titleHead{
    top: 3%;
    width: 100%;
    height: 100%;
}

div.textHead{
    font-size: 18pt;
    font-weight: bold;
    margin-top: 12px;
    text-align: center;
}

/*--- BODY ---*/
div.form{
    width: 100%;
    top:20%;
}

input, textarea{
    border-radius: 6px;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
    font-size: 16px;
    margin-top: 2%;
}

label{
    font-size: 16px;
    cursor: text;
}

input.button{
  background-color: #568CF1;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}
.button:hover {opacity: 1}


/*--- FOOTER ---*/
div.footerDiv{
    bottom: 0%;
    width: 100%;
}

div.textFooter{
    text-align: right;
    margin-right: 3%;
}